@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

p, li, ol, ul {
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: "Inter", sans-serif;
}

.active {
  font-weight: 900;
}

.line {
  height: 1px;
  border-bottom: 2px solid #1976d2;
  margin: 10px 0;
}

.line-black {
  height: 1px;
  border-bottom: 1px solid black;
  margin: 10px 0;
}

@media screen and (min-width: 992px) {
  .escondida {
    display: none;
  }
}
.subrayar {
  text-decoration: underline;
  text-decoration-color: #1976d2;
  text-decoration-thickness: 3px;
}

.resaltar {
  background-color: #BBDEFB;
}

.borde-claro {
  border: 2px solid #BBDEFB;
}

.sombra {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.boton {
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #1976d2;
  color: #FFFFFF;
}
.boton:hover {
  background-color: #194ad2;
  transition: background-color 0.3s ease-in;
}

.navbar {
  z-index: 5;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #BBDEFB;
}
.navbar .navbar-toggler {
  color: #0695d6;
  border: 2px solid #0695d6;
}
.navbar .logo-imipp {
  height: 50px;
  width: auto;
}
.navbar .navbar-nav .home-icon {
  padding-right: 10px;
}
.navbar .navbar-nav > * {
  margin: 0 5px;
}
.navbar .navbar-nav .barra {
  display: none;
  color: #0695d6;
}
.navbar .navbar-nav .nav-link {
  color: #0695d6 !important;
}
.navbar .navbar-nav .dropdown-item {
  color: #0695d6;
}
.navbar .navbar-nav .dropdown-item:hover {
  color: #1976d2;
}

@media screen and (min-width: 992px) {
  .navbar .navbar-nav .barra {
    display: inline-block;
  }
}
.header {
  height: 70vh;
  background-image: url(../assets/img/header.jpg);
  box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header .titulo {
  color: #FFFFFF;
  padding: 1rem;
  text-align: center;
  text-shadow: 1px 1px 0px rgb(0, 0, 0);
}
.header .titulo h1 {
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: #1976d2;
}
.header .titulo h2 {
  font-size: 1.5rem;
}

@media screen and (min-width: 992px) {
  .header {
    margin: 50px 100px;
  }
  .header .titulo {
    margin-right: 35vw;
  }
}
@media screen and (max-width: 992px) {
  .header {
    background-position: left;
  }
}
.el-imipp-header {
  font-size: 2.5rem;
}

.el-imipp {
  text-align: justify;
  line-height: 250%;
}
.el-imipp .el-imipp-texto {
  font-weight: 500;
}
.el-imipp .el-imipp-texto p {
  padding-bottom: 10px;
}
.el-imipp .el-imipp-texto h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.el-imipp .el-imipp-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 40vh;
}

@media screen and (min-width: 992px) {
  .el-imipp .el-imipp-img-container {
    padding-right: 25px;
    padding-left: 25px;
    text-align: end;
  }
  .el-imipp .el-imipp-img {
    width: 80%;
    margin: 0 auto;
  }
}
.cartas-presentacion a {
  text-decoration: none;
  color: #212121;
}
.cartas-presentacion .carta-index {
  height: 100%;
  padding: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.cartas-presentacion .carta-index img {
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.cartas-presentacion .carta-index:hover img {
  height: 30vh;
  transition: height 0.3s ease-in;
}
.cartas-presentacion .carta-index .carta-texto {
  position: relative;
  border-radius: 15px 15px 0 0;
  background-color: #f8f9fa;
  bottom: 25px;
  z-index: 2;
  text-align: justify;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartas-presentacion .carta-index .carta-texto h5 {
  font-weight: 600;
}

.servicios {
  margin: 20px 0;
}
.servicios .carta-servicios {
  height: 100%;
  padding: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.servicios .carta-servicios img {
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}
.servicios .carta-servicios .carta-texto {
  text-align: justify;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.servicios .carta-servicios .carta-texto h5 {
  font-weight: 600;
}

.presentacion {
  text-align: justify;
  line-height: 250%;
  font-weight: 500;
}
.presentacion p {
  padding-bottom: 10px;
}

.institucional {
  text-align: justify;
  line-height: 250%;
}
.institucional .institucional-texto {
  font-weight: 500;
}
.institucional .institucional-texto p, .institucional .institucional-texto ul, .institucional .institucional-texto li {
  padding-bottom: 10px;
}
.institucional .institucional-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 992px) {
  .institucional .institucional-img-container-right {
    padding-right: 25px;
    padding-left: 25px;
    text-align: end;
  }
  .institucional .institucional-img-container-left {
    padding-right: 25px;
    padding-left: 25px;
    text-align: start;
  }
  .institucional .institucional-img {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  .institucional .reverse {
    flex-direction: column-reverse;
  }
}
.lineasdeinvestigacion-main {
  margin: 0 50px;
}

@media screen and (max-width: 992px) {
  .lineasdeinvestigacion-main {
    margin: 0;
  }
}
.grupos {
  text-align: justify;
  line-height: 250%;
}
.grupos .grupos-texto {
  font-weight: 500;
}
.grupos .grupos-texto p, .grupos .grupos-texto ul, .grupos .grupos-texto li {
  padding-bottom: 10px;
}
.grupos .lineas-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 992px) {
  .grupos .el-imipp-img-container {
    padding-right: 25px;
    padding-left: 25px;
    text-align: end;
  }
  .grupos .lineas-img {
    width: 80%;
    margin: 0 auto;
  }
}
.carta-lineas {
  height: 100%;
  padding: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: #212121;
}
.carta-lineas:hover {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow ease-out 0.4s;
  cursor: pointer;
}
.carta-lineas img {
  height: 20vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carta-lineas .carta-texto {
  text-align: justify;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carta-lineas .carta-texto h5 {
  font-weight: 600;
  line-height: 250%;
}

.detalle-grupos .borde {
  margin-bottom: 100px;
  border: 1px solid #212121;
}
.detalle-grupos .carta-grupos {
  height: 100%;
  padding: 0;
  border: 1px solid #212121;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.detalle-grupos .carta-grupos img {
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}
.detalle-grupos .carta-grupos .carta-texto {
  text-align: justify;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detalle-grupos .carta-grupos .carta-texto h5 {
  font-weight: 600;
}
.detalle-grupos .carta-grupos .carta-texto p {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .detalle-grupos .carta-grupos {
    flex-direction: column;
  }
  .detalle-grupos .carta-grupos img {
    margin: 10px auto;
  }
}
.integrantes-main {
  margin: 0 50px;
}

@media screen and (max-width: 992px) {
  .integrantes-main {
    margin: 0;
  }
}
.integrantes {
  text-align: justify;
  line-height: 250%;
}
.integrantes .integrantes-texto {
  font-weight: 500;
}
.integrantes .integrantes-texto p, .integrantes .integrantes-texto ul, .integrantes .integrantes-texto li {
  padding-bottom: 10px;
}

.integrantes-img {
  height: 50vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 992px) {
  .integrantes-img {
    height: 100%;
  }
}
.servicios-page {
  margin: 20px 0;
}
.servicios-page .carta-servicios-page {
  height: 100%;
  padding: 0;
  border: 1px solid #212121;
  display: flex;
  flex-direction: column;
}
.servicios-page .carta-servicios-page img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 20px 20px;
}
.servicios-page .carta-servicios-page .carta-texto-page {
  position: relative;
  border-top: 1px solid black;
  border-radius: 15px 15px 0 0;
  background-color: #f8f9fa;
  bottom: 35px;
  z-index: 2;
  text-align: justify;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.servicios-page .carta-servicios-page .carta-texto-page h3 {
  font-size: 1.5rem;
}
.servicios-page .carta-servicios-page .carta-texto-page h4 {
  font-size: 1.2rem;
}
.servicios-page .carta-servicios-page .carta-texto-page h5 {
  font-size: 1.2rem;
}
.servicios-page .carta-servicios-page .carta-texto-page p {
  margin: 10px 0;
}

.mapa-footer {
  height: 30vh;
  width: 100%;
}

.footer .logo-imipp-footer {
  height: 75px;
  width: auto;
}
.footer .lista-mapa .lista-footer .item-footer {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footer .lista-mapa .lista-footer .item-footer > p, .footer .lista-mapa .lista-footer .item-footer a {
  color: #212121;
  text-decoration: none;
  margin-left: 10px;
  font-size: 1.2rem;
}
.footer .lista-mapa .lista-footer .item-footer > a:hover {
  text-decoration: underline;
}
.footer .lista-mapa .lista-footer .item-footer > i {
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 0;
}
.footer .lista-mapa .lista-footer .item-footer .instagram-logo {
  height: 20px;
  width: auto;
}

@media screen and (max-width: 992px) {
  .logo-imipp-footer-container {
    text-align: center;
  }
}
.copyright {
  background-color: #1976d2;
  color: #FFFFFF;
  padding: 0 2rem;
}/*# sourceMappingURL=styles.css.map */