.footer {
    box-shadow: 0px -5px 22px 0px rgba(0,0,0,0.2);
    .logo-imipp-footer-container {
        text-align: center;
        .logo-imipp-footer {
            height: 75px;
            width: auto;
            margin: 16px;
        }
    }
    .lista-mapa {
        .lista-footer {
            margin: 0 auto;
            .item-footer {
                margin: 15px 0;
                @include display-flex(row, center, flex-start);
                > p, a {
                    color: $--dark-text-color;
                    text-decoration: none;
                    margin-left: 10px;
                    font-size: 1.2rem;
                }
                > a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
                > i {
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    margin: 0;
                }
                .instagram-logo {
                    height: 20px;
                    width: auto;
                }
            }            
        }
        .mapa-container {
            margin: 0 auto;
            .mapa-footer {
                height: 30vh;
                width: 100%;
                margin: 25px 0;
            }
        }
    }
}

.copyright {
    background-color: $--dark-primary-color;
    color: $--light-text-color;
    padding: 0 2rem;
}