.header {
    height: 70vh;
    background-image: url(../assets/img/header.jpg);
    box-shadow: 0px 3px 22px 0px rgba(0,0,0,0.2);
    @include background-image (no-repeat, cover, center);
    @include display-flex(row, center, center);
    .titulo {
        color: $--light-text-color;
        padding: 1rem;
        text-align: center;
        text-shadow: 1px 1px 0px rgba(0,0,0,1);
        h1 {
            font-size: 4rem;
            text-decoration: underline;
            text-decoration-color: $--dark-primary-color;
        }
        h2 {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: 992px) {
    .header {
        margin: 50px 100px;
        .titulo {
            margin-right: 35vw;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        background-position: left;
    }
}