.institucional {
    text-align: justify;
    line-height: 250%;
    .institucional-texto {
        font-weight: 500;
        p, ul, li {
            padding-bottom: 10px;
        }
    }
    .institucional-img {
        width: 100%;
        object-fit: cover;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    }
}

@media screen and (min-width: 992px) {
    .institucional {
        .institucional-img-container-right {
            padding-right: 25px;
            padding-left: 25px;
            text-align: end;
        }
        .institucional-img-container-left {
            padding-right: 25px;
            padding-left: 25px;
            text-align: start;
        }
        .institucional-img {
            width: 80%;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 992px) {
    .institucional {
        .reverse {
            flex-direction: column-reverse;
        }
    }
}