.el-imipp {
    text-align: justify;
    line-height: 2rem;
    .el-imipp-texto {
        h3 {
            margin: 1rem 0;
        }
    }
    .el-imipp-img {
        width: 100%;
        object-fit: cover;
        height: 60vh;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    }
}

.objetivos {
    text-align: justify;
    line-height: 2rem;
    background-color: $--dark-primary-color;
    color: $--light-text-color;
    h3 {
        font-size: 2rem;
    }
    .objetivos-container {
        font-size: 1rem;
        background-color: $--light-text-color;
        color: $--dark-text-color;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    }
}

.lineas-investigacion {
    text-align: justify;
    line-height: 2rem;
}