.active {
    font-weight: bold;
}

.subrayar {
    text-decoration: underline;
    text-decoration-color: $--dark-primary-color;
    text-decoration-thickness: 3px;
}

.resaltar {
    background-color: $--light-primary-color;
}