.active {
    font-weight: bold;
}

.line {
    height: 1px;
    border-bottom: 1px solid black;
    margin: 10px 0;
}

@media screen and (min-width: 992px) {
    .escondida {
        display: none;
    }
}

.subrayar {
    text-decoration: underline;
    text-decoration-color: $--dark-primary-color;
    text-decoration-thickness: 3px;
}

.resaltar {
    background-color: $--light-primary-color;
}