$--dark-primary-color: #1976d2;
$--light-primary-color: #BBDEFB;
$--primary-color: #0695d6;
$--light-text-color: #FFFFFF;
$--dark-text-color: #212121;
$--accent-color: #FFC107;
$--secondary-text-color: #757575;
$--divider-color: #BDBDBD;
$--bg-opaco: rgba(25, 118, 210, 0.6);
$--bg-opaco-dark: rgba(0, 0, 0, 0.6);