$--dark-primary-color: #1976D2;
$--light-primary-color: #BBDEFB;
$--primary-color: #0695d6;
$--light-text-color: #FFFFFF;
$--dark-text-color: #212121;
$--accent-color: #FFC107;
$--secondary-text-color: #757575;
$--divider-color: #BDBDBD;